/**************Version Tablette (1279px)**************/
@media screen and (max-width: 1279px) {
    .headerNav-lien {
        margin-left: 40px;
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .headerNav-lien {
        margin-left: 30px;
        font-size: 18px;
    }
}
/**************Version Mobile (450px)**************/
@media screen and (max-width: 450px) {
    header{
        margin: 5% 5%;
    }
    .header-img{
        width: 20%;
    }
    .headerNav-lien{
        margin-left: 21px;
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 450px) {
    .headerNav-lien {
        font-size: 12px;
    }
}