/**************Version Desktop**************/

@media screen and (max-width:1610px) {
    .home-display {
        margin: 1.5% 1%;
    }
    .home-display a::before{
        height: 320px;
        width: 27%;
    }
    .home-imgListLogement{
        height: 320px;
    }
    .home-display h5 {
        height: 38px;
    }
}
@media screen and (max-width:1505px) {
    .home-display a::before {
        width: 27%;
        height: 293px;
    }
    .home-imgListLogement {
        height: 294px;
    }
    .home-display h5 {
        max-width: 194px;
        font-size: 14px;
    }
}
@media screen and (max-width: 1340px) {
    .home-display a::before {
        height: 270px;
    }
    .home-imgListLogement {
        height: 270px;
    }
    .home-display h5 {
        font-size: 13px;
        max-width: 172px;
        margin: -55px 0px 0px 20px;
    }
}
/**************Version Tablette (1279px)**************/

@media screen and (max-width: 1279px) {
    .home-display {
        width: 48%;
    }
    .section-listAppartement {
        padding: 1% 3%;
    }
    .home-display a::before {
        width: 40.6%;
        height: 310px;
    }
    .home-imgListLogement {
        height: 310px;
    }
    .home-display h5 {
        font-size: 16px;
        max-width: 222px;
    }
}
@media screen and (max-width:1040px) {
    .home-display h5 {
        font-size: 14px;
        max-width: 190px;
    }
}
@media screen and (max-width:890px) {
    .home-imgListLogement {
        height: 256px;
    }
    .home-display a::before {
        height: 256px;
    }
}
@media screen and (max-width:968px) {
    .home-display h5 {
        font-size: 12px;
        max-width: 168px;
    }
}
@media screen and (max-width:720px) {
    .home-display {
        margin: 1.9% 1%;
    }
    .home-imgListLogement {
        height: 210px;
    }
    .home-display a::before {
        height: 210px;
    }
}
@media screen and (max-width:600px) {
    .home-imgListLogement {
        height: 176px;
    }
    .home-display a::before {
        height: 176px;
    }
}
@media screen and (max-width:520px) {
    .home-imgListLogement {
        height: 160px;
    }
    .home-display a::before {
        height: 160px;
    }
}

/**************Version Mobile (450px)**************/
@media screen and (max-width:450px) {
    .section-listAppartement {
        background: none;
        border: none;
        padding: 0;
    }
    .section-listAppartement ul {
        margin: 0;
        flex-direction: column;
    }
    .home-display {
        width: 100%;
        margin: 3% 0;
    }
    .home-display a::before {
        width: 90%;
        height: 290px;
    }
    .home-imgListLogement {
        height: 290px;
    }
    .home-display h5 {
        font-size: 14px;
        max-width: 193px;
    }
}
@media screen and (max-width:430px) {
    .home-display a::before {
        height: 254px;
    }
    .home-imgListLogement {
        height: 254px;
    }
    .home-display h5 {
        max-width: 159px;
        font-size: 12px;
    }
}

@media screen and (max-width:390px) {
    .home-display a::before {
        height: 240px;
    }
    .home-imgListLogement {
        height: 240px;
    }
    .home-display h5 {
        font-size: 12px;
        max-width: 159px;
    }
}
@media screen and (max-width:360px) {
    .home-imgListLogement {
        height: 206px;
    }
    .home-display a::before {
        height: 207px;
    }
    .home-display h5 {
        font-size: 10px;
        max-width: 132px;
    }
}
@media screen and (max-width:350px) {
    .home-imgListLogement {
        height: 186px;
    }
    .home-display a::before {
        height: 186px;
    }
    .home-display h5 {
        font-size: 10px;
        max-width: 132px;
    }
}
@media screen and (max-width:330px) {
    .home-display a::before {
        height: 164px;
    }
    .home-imgListLogement {
        height:164px
    }
}
@media screen and (max-width:320px) {
    .home-display h5 {
        margin: -46px 0px 0px 16px;
        height: 40px;
    }
    .home-display a {
        margin-bottom: 15px;
    }
    
}
@media screen and (max-width:300px) {
    .home-display a::before {
        height: 150px;
    }
    .home-imgListLogement {
        height: 150px;
    }
}