.pageDetails-informations h1, h2, h4 {
    color: #FF6060;
    margin: 0;
    font-weight: 500;
}

.pageDetails-informations h1 {
    font-size: 33px;
}

.pageDetails-informations h2 {
    margin-top: 10px;
    font-size: 22px;
}

.pageDetails-carrousel ul {
    padding: 0;
    margin: 0;
}

.carrousel-pageDetails li {
    text-align: center;
}

.carrousel-image {
    width: 100%;
    height: 570px;
    object-fit: cover;
    border-radius: 25px;
}

.pageDetails-carrousel  figcaption {
    position: absolute;
    top: 44em;
    left: 49%;
}
.pageDetails-carrousel p {
    font-size: 20px;
    color: white;
    margin: 0;
}

.carrousel-button {
    position: absolute;
    top: 25rem;
    border: none;
    background: none;
}
.left {
    left: 6.5%
}
.right {
    right: 6.5%;
}

.carrousel-button svg {
    width: 5em;
    height: 10em;
    color: white;
    cursor: pointer;
    fill: currentColor;
}
.pageDetails-informations {
    margin-top: 3%;
}
.pageDetails-host {
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
    align-items: center;
    flex-direction: row;
}

.pageDetails-host img{
    border-radius: 50%;
    width: 30%;
}

.pageDetails-host h3 {
    font-size: 23px;
    width: 41%;
    color: #FF6060;
    font-weight: 500;
    margin-right: 24px;
    text-align: right;
}

.pageDetails-tags {
    margin-top: 6px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.pageDetails-flexStars {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-top: -74px;
}
.pageDetails-rating svg{
    width: 3em;
    height: 3em;
}
.pageDetails-rating {
    text-align: right;
}
.pageDetails-tags li {
    margin-right: 15px;
    background: #FF6060;
    padding: 5px 20px;
    border-radius: 25px;
    color: white;
}