/************Version Desktop*********************/
/************Version Tablette (1279px)***********/
@media screen and (max-width:1080px) {
    .home figcaption {
        top: -118px;
    }
    .home h1 {
        font-size: 38px;
    }
    .home img {
        height: 180px;
    }
}
@media screen and (max-width:1080px) {
    .home h1 {
        font-size: 36px;
    }
}
@media screen and (max-width:890px) {
    .home figcaption {
        top: -100px;
    }
    .home h1 {
        font-size: 32px;
    }
    .home img {
        height: 148px;
    }
}

@media screen and (max-width:660px) {
    .home h1 {
        font-size: 28px;
    }
}
@media screen and (max-width:560px) {
    .home figcaption {
        top: -88px;
    }
    .home h1 {
        font-size: 22px;
    }
    .home img {
        height: 135px;
    }
}
/************Version Mobile (450px)**************/
@media screen and (max-width: 450px) {
    .home {
        height: 200px;
    }
    .home img {
        height: 160px;
        border-radius: 10px;
    }
    .home figcaption {
        left: 6%;
        width: 264px;
        top: -126px;
    }
    .home h1 {
        text-align: left;
        font-size: 28px;
    }
}
@media screen and (max-width: 360px) {
    .home {
        height: 130px;
    }
    .home img {
        height: 100px;
    }
    .home figcaption {
        width: 186px;
        top: -80px;
    }
    .home h1 {
        font-size: 20px;
    }
}
 @media screen and (max-width:330px) {
    .home {
        height: 100px;
    }
    .home img {
        height: 80px;
    }
    .home figcaption {
        width: 160px;
        top: -65px;
    }
    .home h1 {
        font-size: 17px;
    }
}