@media screen and (max-width: 730px) {
    .header-img{
        width: 140px;
        height: 47px;
    }
    
    .headerNav-lien{
        margin-left: 21px;
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    .header {
        margin: 30px 28px;
    }
}