footer {
    background-color: #000000;
    
}

footer figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-img {
    width: 93px;
    padding: 42px 0px 6px 0px;  
}

.footer-text {
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
}