.section-listAppartement {
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 1% 2%;
}
.section-listAppartement ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.home-display {
    margin: 1%;
    width: 31.3%;
    border-radius: 10%;
}

.home-display a::before {
    content: "";
    z-index: 2;
    position: absolute;
    height: 374px;
    width: 27%;
    border-radius: 10px;
    background: linear-gradient(#FFFFFF00, #00000080);
}
.home-display:hover{
    box-shadow: 0px 8px 20px 7px #ff606096;
    cursor: pointer;
}

.home-imgListLogement {
    width: 100%;
    height: 374px;
    object-fit: cover;
    border-radius: 10px;
}
.home-display h5 {
    font-size: 18px;
    max-width: 239px;
    height: 57px;
    color: #ffffff;
    margin: -62px 0px 0px 23px;
    z-index: 2;
    position: relative;
}